body{
    background: url(/src/assets/images/Background.png) no-repeat center/cover;
    padding: 4rem 8.4rem ;
    min-height: 100vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    margin: 2rem 0 4rem 0;
}

header figure{
    width: 109px;
    height: 30px;
}

header figure img{
    width: 100%;
    height: 100%;
}
header h1{
    font: var(--heading-lg);
    color: var(--gray-1);   
}

header h1 strong{
    color: var(--blue);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

section{
    background: var(--gray-7);
    border: 1px solid var(--gray-6);
    border-radius: 15px;
    padding: 24px;
    width: 36.8rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#about {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: space-between;
    padding: 2.4rem;
}

#about .title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#about .title h2{
    font: var(--heading-sm);
    color: var(--gray-2);
}

#about .title a{
    font: var(--body-xs);
    color: var(--purple);
    display: flex;
    align-items: center;
}

#about .title a img{
    width: 2rem;
    height: 2rem;
}

#about p{
    font: var(--body-sm);
    color: var(--gray-3);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Subscription ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */




#subscription{
    padding: 2.4rem;
}

#subscription h2{
    font: var(--heading-sm);
    color: var(--gray-2);
    margin: 1rem;
}

#subscription form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
}

#subscription form .input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-8);
    border: 1px solid var(--gray-6);
    padding: 1rem 1.6rem;
    border-radius: 1rem;
}

#subscription form input{
    background: transparent;
    border: none;
    font: var(--body-md);
    color: var(--gray-4);
    outline: none;
    width: 100%;

    &::placeholder{
        font: var(--body-md);
        color: var(--gray-5);
    }
}

#subscription form button{
    background: var(--gray-5);
    font: var(--button);
    color: var(--blue);
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Link Container ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#link-container{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
}

#link-container h2{
    font: var(--heading-sm);
    color: var(--purple);
    align-self: center;
}

#link-container p{
    font: var(--body-sm);
    color: var(--gray-3);
}

#link-container .link-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gray-8);
    border: 1px solid var(--gray-6);
    padding: 1rem 1.6rem;
    border-radius: 1rem;
}

#link-container .link-display input{
    background: transparent;
    border: none;
    outline: none;
    font: var(--body-md);
    color: var(--gray-4);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;


    &::placeholder{
        font: var(--body-md);
        color: var(--gray-1);
    }
}

#link-container .link-display button{
    background: transparent;
    padding: 0.1rem 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}

#link-container #copied{
    display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Count Subscriptions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#count-subscriptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 2.4rem;

}


#count-subscriptions h4{
    font: var(--heading-md);
    color: var(--gray-2);
}

#count-subscriptions p{
    font: var(--body-sm);
    color: var(--gray-3);
}
